@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
*{
    margin: 29px;
}
body{
    margin: 0px;
    height: 1067;
    width: 1600;
    background-color: rgb(14, 14, 14);
    color: white;
    text-align: center;
}

img{
    display: block;
    margin: auto;
    cursor: zoom-out;
    background-color: hsl(0, 0%, 90%);
    background-color: rgb(230, 230, 230);
    aspect-ratio: auto 1600 / 1067;
    overflow: clip;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;

}

h1{
    font-family: 'Playfair Display';
    text-align: center;  
    font-weight: bold;
    font-style: serif;
    color:white;
  
    
}

p{
    font-size: 32px;
    text-align: center; 
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: italic;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
  
}

.curve-text{
    display: inline-block;
    transform: rotate(-5deg);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.burger{ 
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.8));
}